{#页脚区#}
{#<div class="row img-rounded">#}
{#<div class="footer l-box">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">#}
{#        <p>#}
{#            <a target="_blank" href="https://github.com/Yangget"></a>SOFTLAB--1010<br>#}
{#            <a target="_blank" href="https://www.nefu.edu.cn/">东北林业大学——信息与计算机工程学院#}
    {#            <img style="width: 18px;vertical-align: sub;" src="https://www.nefu.edu.cn/"/>#}
{#            </a>#}
    {#        <a target="_blank" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">#}
    {#            京ICP备 17046648号#}
    {#        </a>#}
{#        </p>#}
{#    </div>#}
{#    </div>#}
{#</div>#}
